<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <title>ContactUs</title>
  </head>
  <body>

<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href="#">
    <img src="/images/logo.JPG" width="50" height="50" class="d-inline-block align-top" alt="" loading="lazy">
       
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/menu">OurMenu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pricing">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contactus">Contact Us</a>
      </li>   
    </ul>
    </div>
  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link">Order Us: (403)613-8034</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallery">Gallery</a>
      </li>
    </ul>
    </div>
</nav>

<!--Section: Contact v.2-->
<section class="section">

  <!--Section heading-->
  <h class="section-heading h1 pt-4 mb-5">Contact us</h1>
  <h3>(403)-613-8034</h3>

  <div class="card">

    <div class="card-body">

      <!--Google map-->
      <div id="map-container-google-12" class="z-depth-1-half map-container-7" style="height: 210px">
        <iframe src="https://maps.google.com/maps?q=Calgary&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
      </div>
      <br/>
      <br/>
      <div class="row">

       
        
  </div>

</section>
<!--Section: Contact v.2-->



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
    <br/>  
    
      <!-- action="https://formspree.io/f/xwkryjdd" -->

      <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/f/xwkryjdd"
        method="post">
        <fieldset id="fs-frm-inputs">
          <div class="form-group" >
            <label class="font-weight-bold text-danger" for="full-name">Full Name</label>
            <input class="form-control" type="text" name="name" id="full-name" placeholder="First and Last" required="">
          </div>
          <div class="form-group">
            <label class="font-weight-bold text-danger" for="exampleInputEmail1">Email Address</label>
            <input class="form-control" type="email" name="_replyto" id="email-address" placeholder="email@domain.tld" required="">
          </div>
          <div class="form-group">
            <label class="font-weight-bold text-danger"  for="message">Message</label>
            <textarea class="form-control" rows="5" name="message" id="message" placeholder="Message" required=""></textarea>
            <input class="form-control" type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
          </div>
        </fieldset>
         <input  class="font-weight-bold text-danger"type="submit" value="Submit" class="text-danger">
      </form>





     
<div class="container body-content">
      <footer class="footer">
        <p class="">
          &copy; Copyright<span id="copyYear" style="color:RED" ></span> YYC-Homemade Food
        </p>
      </footer>
      
</div>







  </body>
  <script>
    var currentYear = new Date().getFullYear();
    document.getElementById("copyYear").innerHTML = currentYear;
  
  </script>
</html>